*{
    margin:0;
    padding:0;
    border:border-box;
    outline: none;
}

html,body{
    height:100%;
    width: 100%;
}
 .navbar{
    display:block;
    float: right;
    height:50px;
    padding: 10px;
 }
 .navbar-wrapper{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
 }
 .navbar-wrapper > a{
    text-decoration:none;
    color:rgba(0,0,0,0.87);
 }
 .navbar-wrapper > a:hover{
    text-decoration: underline;
 }
 .app , .account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; 
 }
 .account > img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
 }
 .app:hover , .account:hover {
    background-color: #f2f2f2;
 }
